#first {
  color:#41ead4 ;
  background:#b388eb ;
}
#second {
  color: #fff;
  background: #00ff00;
}
#three {
  color: #0000ff;
  background: #f15025;
}
#four {
  color: #f234ad;
  background: #222;
}
